body {
    background-color: #DAE3E5;
    font-family: 'Verdana', sans-serif;
    }
h1{
  font-size: 37px;
  color: #507DBC;
  font-weight: bold;
  text-align: center;
}
h2{
  font-size: 30px;
  color: #A1C6EA;
  font-weight: bold;
  text-align: center;
}
h3{
  font-size: 20px;
  color: #04080F;
  font-weight: normal;
  text-align: center;
  justify-content: center;
}


.Card{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:420px;
  border: 1px solid #DAE3E5;
  border-radius:15px;
  font-family: verdana,sans-serif;
  background-color: white;
}
.titulo{
  font-size: 24px;
  padding: 10px 10px 0 10px;;
}
.cuerpo{
  padding: 10px;
}
img{
  height: 400px;
  width: 400px;
}
.pie{
  background: #A1C6EA;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
.pie a{
  text-decoration: none;
  color: white;
}
.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}


.ficha{
	border: 2px solid black;
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	width: 500px;
	font-family: Arial, sans-serif;
	background-color: white;
}
.ficha #titulo{
  text-align: left;
  padding: 2px 0px 2px 2px;
  font-weight: bold;
}
.ficha #cuerpo{
	padding: 0 0 1rem 1rem;
	width: 80%;
}
.ficha #cinta{
	margin-right: 1.5rem;
	position: relative;
	width: 10%;
}
.ficha #texto{
	color: dimgrey;
	text-align: justify;
}